/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile__card {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  width: 340px;
  padding: 24px 16px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 0.06), 0px 1px 3px 0 rgb(0 0 0 / 0.10);
  background-color: #ffffff;
  row-gap: 40px;
}

.profile__card__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.profile__card__bottom {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.profile__card__top__image {
  display: flex;
  flex-direction: row;
  width: 64px;
  height: 64px;
}

.profile__card__top__info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.profile__card__top__info__name {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #171717;
}

.profile__card__top__info__title {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #525252;
}

.profile__card__top__description {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #525252;
}

.profile__card__bottom__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4338ca;
  gap: 6px;
  height: 44px;
  padding: 16px 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  outline: none;
  border: none;
}

.profile__card__bottom__button:hover,
.profile__card__bottom__button:focus {
  background: #3730a3;
}
.profile__card__bottom__button:disabled {
  background: #f5f5f5;
  box-shadow: none;
  color: #a3a3a3;
  pointer-events: none;
}

.profile__card__bottom__button__text {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.profile__card__bottom__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 16px;
}

.profile__card__bottom__socials__button {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__card__bottom__socials__button:hover {
  background-color: #fafafa;
}

.profile__card__bottom__socials__button:focus {
  background-color: #fafafa;
  box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.profile__card__bottom__socials__button:disabled {
  pointer-events: none;
}